name: Wellness Tourism Package Customer Prediction MLS pipeline

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  register-dataset:
    runs-on: ubuntu-latest
    env:
      HF_TOKEN: ${{ secrets.HF_TOKEN }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r wellness_tourism_package_customer_prediction_dummy/requirements.txt

      - name: Upload Dataset to Hugging Face Hub
        run: |
          python wellness_tourism_package_customer_prediction_dummy/model_building/data_register.py

  data_prep:
    needs: register-dataset
    runs-on: ubuntu-latest
    env:
      HF_TOKEN: ${{ secrets.HF_TOKEN }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r wellness_tourism_package_customer_prediction_dummy/requirements.txt

      - name: Run Data Preparation
        run: |
          python wellness_tourism_package_customer_prediction_dummy/model_building/data_prep.py

  model_training:
     needs: data_prep
     runs-on: ubuntu-latest
     env:
      HF_TOKEN: ${{ secrets.HF_TOKEN }}
      MLFLOW_TRACKING_URI: ${{ secrets.MLFLOW_TRACKING_URI }}
      MLFLOW_EXPERIMENT_NAME: wellness_tourism_experiments
     steps:
      - uses: actions/checkout@v4
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r wellness_tourism_package_customer_prediction_dummy/requirements.txt
          pip install mlflow
      - name: Train Model
        run: |
          python wellness_tourism_package_customer_prediction_dummy/model_building/train.py

  deploy_hosting:
    needs: model_training
    runs-on: ubuntu-latest
    env:
      HF_TOKEN: ${{ secrets.HF_TOKEN }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r wellness_tourism_package_customer_prediction_dummy/requirements.txt

      - name: Push Hosting App
        run: |
          python wellness_tourism_package_customer_prediction_dummy/hosting/hosting.py
